#centerPanelTable{
	-fx-border-color:black;
	-fx-border-style:solid;
	-fx-border-width:0px 0px 0px 0px; 
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 25, 0.0 , 0 , 0 );
	-fx-focus-color: transparent;
	-fx-faint-focus-color:transparent;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: #222223;
}
.table-view:row-selection .placeholder{
	-fx-background-color: #66667c;
}
.table-row-cell:hover:filled{
	-fx-cursor: hand;
	-fx-background-color: #b9b9ce;
}
