#pane{
	-fx-background-color: #222223;
	
}
.button{
	-fx-font-size: 17px;
    -fx-font-family: "Bree Serif";
   -fx-background-color: #d5bff2;
}
.button:hover{
   -fx-background-color: #9444fc;
   -fx-cursor: hand;
   -fx-text-fill:#000000;
}
.label{
	-fx-font-size: 17px;
    -fx-font-family: "Bree Serif";
    -fx-text-fill: white;
}
