#pane{
	-fx-background-color: #222223;
	
}
.button{
	-fx-font-size: 17px;
    -fx-font-family: "Bree Serif";
   -fx-background-color: #d5bff2;
}
.button:hover{
   -fx-background-color: #9444fc;
   -fx-cursor: hand;
   -fx-text-fill:#000000;
}
.label{
	-fx-font-size: 12px;
    -fx-font-family: "Bree Serif";
    -fx-text-fill: white;
}
#user{
	-fx-text-fill: #faff00;
	-fx-font-size: 22px;
}
#dailyGoals{
	-fx-text-fill:#cf49f4;
	-fx-font-size: 15px;
}
#goals{
	-fx-text-fill:#cf49f4;
	-fx-font-size: 15px;
}
#weeklyGoals{
	-fx-text-fill:#cf49f4;
	-fx-font-size: 15px;
}
#monthlyGoals{
	-fx-text-fill:#cf49f4;
	-fx-font-size: 15px;
}
#yearlyGoals{
	-fx-text-fill:#cf49f4;
	-fx-font-size: 15px;
}