.button {
    -fx-background-color: #9696b7;
    -fx-cursor: hand;
    -fx-font-size: 13px;
    -fx-font-family: "Bree Serif";
    -fx-background-size: 93px 93px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center; 
    -fx-alignment:center;
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 0;
	-fx-alignment:bottom-center;
}
#dailyButton{
	-fx-background-image: url("../icons/daily.png");
}
#dailyButton:hover{
	-fx-background-image: url("../icons/daily_hover.png");
}
#weeklyButton{
	-fx-background-image: url("../icons/weekly.png");
}
#weeklyButton:hover{
	-fx-background-image: url("../icons/weekly_hover.png");
}
#monthlyButton{
	-fx-background-image: url("../icons/monthly.png");
}
#monthlyButton:hover{
	-fx-background-image: url("../icons/monthly_hover.png");
}
#yearlyButton{
	-fx-background-image: url("../icons/yearly.png");
}
#yearlyButton:hover{
	-fx-background-image: url("../icons/yearly_hover.png");
}